/* Define styles for larger screens (e.g., tablets and desktops) */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.side-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.side-image img,
.center-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.center-content {
    flex: 2;
    text-align: center;
    position: relative;
}

.center-text {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent; 
    padding: 20px;
    border-radius: 10px;
}

a {
    color: #61dafb;
    text-decoration: none;
}

.description {
    margin: 10px 0; 
    color: #ffffff;
}

/* Define styles for smaller screens (e.g., mobile devices in portrait orientation) */
@media screen and (max-width: 768px) {
    .side-image {
        display: none; 
    }
}

/* Hide side images on high DPI devices (e.g., mobile devices in portrait orientation) */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 768px), 
       (min-resolution: 192dpi) and (max-width: 768px) {
    .side-image {
        display: none; 
    }
}

